name: Pages deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-docs:
    name: Build Jekyll site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'   
          bundler-cache: true

      - name: Bundle install (docs)
        working-directory: docs
        run: bundle install --path vendor/bundle

      - name: Build site (docs)
        working-directory: docs
        run: bundle exec jekyll build

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/_site

  deploy-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build-docs
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4



